<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="../static/js/tailwind.js" defer></script>
  <link href="../static/css/daisyui.css" rel="stylesheet" type="text/css" defer/>
  <title>go admin</title>
</head>
<body class="w-full bg-neutral-100">
  <main>
    <div class="p-5">
      <div class="bg-white w-[15%] h-[96vh] fixed left-5 top-5 rounded-[35px] shadow-2xl">
        <div class="flex items-center p-3">
          <button class="rounded-[20px] w-[50px] h-[50px] flex justify-center items-center bg-inherit hover:bg-slate-100 cursor-pointer">
            <img class="w-[25px] h-[25px]" src="../static/assets/icons/menu.svg" />
          </button>
          <img class="w-[90px] ml-[20px]" src="../static/assets/icons/gorm.svg" />
          <p class="font-sans font-bold text-[21px] text-sky-500 mt-[3px]">
            admin
          </p>
        </div>
      </div>
      
      <div class="fixed top-0 right-0 w-[100%] z-1 bg-neutral-100 h-5">
      </div>
      
      <div class="fixed top-5 right-5 w-[81.3%] z-1">
        <div class="h-[60px]  bg-white rounded-tl-[25px] rounded-tr-[25px] shadow-lg flex items-center justify-end pr-[20px]">
          <div class="flex items-center justify-center gap-1 box-border sans-serif  hover:bg-neutral-200 w-[170px] h-[45px] rounded-[20px] cursor-pointer">
            admin_petya
            <img class="w-[35px] h-[35px]" src="../static/assets/icons/user.svg" />
            <img class="w-[20px] h-[20px]" src="../static/assets/icons/arrow-bottom.svg" />
          </div>
        </div>
        
        <div class="h-[30px] bg-neutral-200">
          
        </div> 
      </div>
      
      <div class="w-[83%] h-[165vh] rounded-[40px] ml-[17%] box-border p-1">
        
        <div class="overflow-x-auto mt-[90px] z-0">
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>id</th>
                <th>Name</th>
                <th>Job</th>
                <th>Favorite Color</th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->
              <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>Quality Control Specialist</td>
                <td>Blue</td>
              </tr>
              <!-- row 2 -->
              <tr class="hover:bg-base-300">
                <th>2</th>
                <td>Hart Hagerty</td>
                <td>Desktop Support Technician</td>
                <td>Purple</td>
              </tr>
              <!-- row 3 -->
              <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
                <td>Red</td>
              </tr>
              <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
                <td>Red</td>
              </tr>
              <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
                <td>Red</td>
              </tr>
              <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
                <td>Red</td>
              </tr>
              <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
                <td>Red</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>  
    </div>
  </main>
</body>
</html>